<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StatMapper">

	<select id="selectPost" parameterType="int" resultType="StatDTO">
		SELECT * FROM (
		SELECT m.TITLE as stat_name, COUNT(*) as stat_count
		FROM TB_MOVIE m
		JOIN
		TB_POST p ON m.movie_id = p.movie_id
		WHERE
		TRUNC(SYSDATE - #{day}) <![CDATA[ <=]]>
		p.create_at AND p.create_at <![CDATA[ <=]]>
		TRUNC(SYSDATE + 1)
		GROUP BY m.title
		ORDER BY stat_count DESC
		) WHERE
		ROWNUM <![CDATA[ <=]]>
		5
	</select>

	<select id="selectReply" parameterType="int" resultType="StatDTO">
		SELECT * FROM (
		SELECT m.TITLE as stat_name, COUNT(*) as stat_count
		FROM TB_MOVIE m
		JOIN
		TB_REPLY r ON m.movie_id = r.movie_id
		WHERE
		TRUNC(SYSDATE - #{day}) <![CDATA[ <=]]>
		r.create_at AND r.create_at <![CDATA[ <=]]>
		TRUNC(SYSDATE + 1)
		GROUP BY m.title
		ORDER BY stat_count DESC
		) WHERE
		ROWNUM <![CDATA[ <=]]> 5
	</select>

	<select id="selectGenre" parameterType="int" resultType="StatDTO">
		SELECT * FROM (
		SELECT mc.CATEGORY_ID AS stat_name, SUM(stat_count) AS stat_count
		FROM MP_MOVIE_CATEGORY mc
		JOIN (
		SELECT m.MOVIE_ID, COUNT(*) AS stat_count
		FROM TB_MOVIE m
		JOIN TB_POST p ON m.MOVIE_ID = p.MOVIE_ID
		WHERE TRUNC(SYSDATE - #{day}) <![CDATA[ <=]]> p.create_at AND p.create_at <![CDATA[ <=]]> TRUNC(SYSDATE + 1)
		GROUP BY m.MOVIE_ID
		UNION ALL
		SELECT m.MOVIE_ID, COUNT(*) AS stat_count
		FROM TB_MOVIE m
		JOIN TB_REPLY r ON m.MOVIE_ID = r.MOVIE_ID
		WHERE TRUNC(SYSDATE - #{day}) <![CDATA[ <=]]> r.create_at AND r.create_at <![CDATA[ <=]]> TRUNC(SYSDATE + 1)
		GROUP BY m.MOVIE_ID
		) stat
		ON mc.MOVIE_ID = stat.MOVIE_ID
		GROUP BY mc.CATEGORY_ID
		ORDER BY stat_count DESC
		)
		WHERE ROWNUM <![CDATA[ <=]]> 5
	</select>



</mapper>






